{% macro pagination(lien, pageActuelle, previousPage,  nextPage, nbParPage,debutPagination, finPagination, paramettre)  %}

<div class="datagrid-footer-left col-lg-1 col-md-2 col-sm-4 col-xs-4 text-center-sm m-l-n" > 
                                            <div class="grid-controls m-t-small"> 
                                                <div class="select grid-pagesize dropup">
                                                    <form  class="floatL">
                                                        <select id="selnbpage" class="floatL form-control">
                                                            <option value="20" {% if nbParPage == 20 %} selected="true" {% endif %} >20</option>
                                                            <option value="30" {% if nbParPage == 30 %} selected="true" {% endif %} >30</option>
                                                            <option value="100" {% if nbParPage == 100 %} selected="true" {% endif %} >100</option>
                                                        </select>
                                                        <div class="clear"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="" class="col-lg-11 col-md-10 col-sm-8 col-xs-8">
                                            <div id="" class="dataTables_paginate paging_full_numbers  pull-right">
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="{{ path('app_admin_abonnes', { 'pageActuelle': 1,'nbParPage': nbParPage}) }}"  id=""  class="first paginate_button">1</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_admin_abonnes', { 'pageActuelle': previousPage,'nbParPage': nbParPage}) }}"  id=""  class="previous paginate_button">«</a>
                                                    </li>

                                                    {% for page in debutPagination..finPagination %}
                                                        <li>
                                                            <span>
                                                                {% if page == pageActuelle %}
                                                                    <a href="#"  tabindex="0" class="paginate_active">{{ page }} </a>
                                                                {% else %}  
                                                                    <a href="{{ path('app_admin_abonnes', {'idProfil' : idProfil,  'pageActuelle': page,'nbParPage': nbParPage}) }}" tabindex="0" class="paginate_button">{{ page }} </a>
                                                                {% endif %}
                                                            </span>
                                                        </li>
                                                    {% endfor %}

                                                    <li>
                                                        <a href="{{ path('app_admin_abonnes', { 'pageActuelle': nextPage,'nbParPage': nbParPage}) }}"  id="" tabindex="0" class="next paginate_button">»</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('app_admin_abonnes', { 'pageActuelle': previousPage,'nbParPage': nbParPage}) }}" id="" tabindex="0" class="last paginate_button">{{lastPage}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

{% endmacro %}


