{% extends 'baseTemplate1.html.twig' %}
{% block body %}
{% set inc = 0 %}
</header>
 <div class="page-title" style="background-color:#57bae8;color:#FFF;padding-left:20px;height:50px;font-size:20px;padding-top:20px;">
            <div class="main">
                <div class="row">
                    <div class="span12">
                        
                        <h4  style="color:#FFF;"><i class="icon-tasks page-title-icon"></i>{{article.titre}}</h4>
                    </div>
                </div>
            </div>
        </div> 
<section id="content">
    <div class="ic"></div>
    <div class="main">    
        <div class="col-lg-8 col-sm-8">

              {% if article.getMedias is defined %}
                                {% for img in article.getMedias %}
            <img src="{{asset(img.pathMedia)}}"></img>
                                {% endfor %}
              {% endif %}  
            
            <p class="infoarticle">{{article.datePublication|date('d M Y')}} | {{article.utilisateur.nom}}</p>
            <hr />
            <p>{{article.contenuArticle|raw}}</p>

        </div>	<!-- End DIV.Span4-->

     {% set inc = inc+1 %}
        <div class="">
 {% set inc = inc+1 %}
            <div class="zone-article">
                <div class="titre-zone-articles">Conseils</div>  
                <div class="interieur-jaune-clair">
           {#{%if tabTraiteZone[inc]['typeInfo'] == 1%}   
              {% for unInfo in tabTraiteZone[inc]['information'] %}

                        {{unInfo.contenuArticle|raw}}

                {% endfor %}                                          
           {% endif %}  #}                                        
                </div>  
            </div>
        </div>	<!-- End span4 -->

    </div>	<!-- End rows -->
</section>	<!-- End rows -->
    <!-- End rows -->

{% endblock %}
{% block javascripts %}
{{parent()}}

    <script type="text/javascript">
        $('.carousel[data-mixed] ul').anoSlide(
        {
        items: 5,
        speed: 500,
        prev: 'a.prev[data-prev]',
        next: 'a.next[data-next]',
        lazy: true,
        delay: 100
        })
    </script>
{% endblock %}


