{% extends "layout.html.twig" %}

{% block title %}{{parent()}} - Ajout abonné{% endblock %}
{% block gestStatistique %}
<div>
    <h4>Statistiques {#<span class="badge badge-info pull-right">16</span>#}</h4>
    <ul class="sortable-list connectList agile-list">
        <li class="warning-element">
            Nombre Total des élèves

            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">500</a>
                <i class="fa fa-clock-o"></i> Fille
            </div>
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">500</a>
                <i class="fa fa-clock-o"></i> Garcon
            </div>
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">1000</a>
                <i class="fa fa-clock-o"></i> Total
            </div>
        </li>
        <li class="success-element">
            Nombre d'élève à jour 
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                <i class="fa fa-clock-o"></i> 05.04.2015
            </div>
        </li>
        <li class="info-element">
            Nombre inscrit cette année
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                <i class="fa fa-clock-o"></i> 
            </div>
        </li>
        <li class="info-element">
            Nombre par tranche d'âge
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                <i class="fa fa-clock-o"></i> 
            </div>
        </li>
        <li class="danger-element">
            Statistiques par niveau
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                <i class="fa fa-clock-o"> </i> 6 eme
            </div>
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                <i class="fa fa-clock-o"> </i> 5 eme
            </div>
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                <i class="fa fa-clock-o"> </i> 4 eme
            </div>
            <div class="agile-detail">
                <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                <i class="fa fa-clock-o"></i> 3 eme
            </div>
        </li>

    </ul>   
</div>
{% endblock %}

{#{% block Breadcrumb %}
<ul ncy-breadcrumb="" class="pull-right breadcrumb ng-isolate-scope">
    <li>
        <a href="#/app/dashboard" >
            <i class="fa fa-home margin-right-5 text-large text-dark"></i>Accueil
        </a>
    </li>
    <li>
        <a href="#" >
            <i class="fa fa-file margin-right-5 text-large text-dark"></i>Abonné
        </a>
    </li>

    <li class="ng-binding ng-scope" ><i class="fa fa-upload margin-right-5 text-large text-dark"></i>Ajout</li>
</ul>
{% endblock %}#}
{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block body %}
<ul class="page-tree">
    <li>
        <a href="#">Home</a>
    </li>
    <li>Liste des Abonnés</li>
</ul>
    {#<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-plus"></i>AJOUT UTILISATEUR  </h3>
        </div>
    </div>#}

    {% for contenu in app.session.getflashbag.get('abonne.ajout.success')%}
        {% if loop.index == 0%}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
        <div class="text-center alert alert-success  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>
</div>
        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('abonne.ajout.error')%}
        {% if loop.index == 0%}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
        <div class="text-center alert alert-danger  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>
</div>
        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('abonne.ajout.already.exist')%}
        {% if loop.index == 0%}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
        <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>
</div>
        {% endif%}
    {% endfor%}

<div class="ibox float-e-margins panel-white entete-panel" >

        {# chargement basique de fichier#}

    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-white">
                <header class="panel-heading title-panel">
                    <i class="fa fa-plus "></i> <span class="margin-right-20px "> Ajouter un client </span>
                </header> 
                <div class="panel-body">
                    <div class="row margin-top-10">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel-body">
                              {#  <form action="{{path('app_admin_abonne_ajout', {'idProfil' : idProfil})}}" method="POST"  {{form_enctype(formuView)}} role="form">
#}
                                {{ form_start(formuView) }} 
                                    <div class="form-group">
                                        <label class=" control-label"> {{ form_label(formuView.nom) }} </label>
                                        <div class=" control">    {{ form_widget(formuView.nom) }}</div>
                                    </div>

                                    <div class="form-group clearfix ">
                                        <label class=" control-label">     {{ form_label(formuView.prenoms) }} </label>
                                        <div class="control">      {{ form_widget(formuView.prenoms) }}</div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="control-label">{{ form_label(formuView.numCompte) }} </label>
                                        <div class="control"> {{ form_widget(formuView.numCompte) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">  {{ form_label(formuView.profil) }} </label>
                                        <div class="control">  {{ form_widget(formuView.profil) }}</div>
                                    </div>




                                    <div class="form-group clearfix ">
                                        <label class=" control-label">{{ form_label(formuView.sexe) }} </label>
                                        <div class="control">   {{ form_widget(formuView.sexe) }}</div>
                                    </div>

{#

                                        <div class="form-group clearfix ">
                                            <label class="col-lg-2 control-label">{{ form_label(formuView.username) }} </label>
                                            <div class="col-lg-4 control"> {{ form_widget(formuView.username) }}</div>
                                        </div>

                                        <div class="form-group clearfix ">
                                            <label class="col-lg-2 control-label"> Code base</label><img src="{{asset('img/ico/load.gif')}}" class="loadProcess hide"  />
                                            <div class="col-lg-2 control">  
                                                <input  autocomplete="off" type="text" name="codeBase" id="codeBase" value="{{codeBase}}" placeholder="code de base * " required="true" readonly="true" class="form-control"/> 
                                            </div>
                                            <div class="col-lg-3 control"> <span class="btn btn-mini btn-info  tooltipGobi" id="btn-rand-code" title="Générer un autre code">
                                                    Générer </span> 
                                            </div>
                                        </div>




                                       


                                        <div class="form-group clearfix ">
                                            <label class="col-lg-2 control-label">  {{ form_label(formuView.password) }} </label>
                                            <div class="col-lg-4 control">  {{ form_widget(formuView.password) }}</div>
                                            <div class="col-lg-4 control">  {{ form_widget(formuView.cPassword) }}</div>
                                        </div>

                                        {#<div class="form-group clearfix ">
                                            <label class="col-lg-3 control-label"> Confirmer</label>
                                            
                                        </div>#}

                                    <div class="form-group clearfix ">
                                        <label class="control-label"> {{ form_label(formuView.tel1) }} </label>
                                        <div class="control">{{ form_widget(formuView.tel1) }} </div>
                                        <div class="control"> {{ form_widget(formuView.tel2) }}</div>
                                    </div>

                                        {# <div class="form-group clearfix ">
                                             <label class="col-lg-3 control-label"> {{ form_label(formuView.tel2) }}</label>
                                             
                                         </div>#}

                                    <div class="form-group clearfix ">
                                        <label class=" control-label">  {{ form_label(formuView.email) }}</label>
                                        <div class=" control">   {{ form_widget(formuView.email) }}</div>
                                    </div>

                                    <div class="form-group clearfix ">
                                        <label class="control-label">{{ form_label(formuView.adresse) }} </label>
                                        <div class="control"> {{ form_widget(formuView.adresse) }}</div>
                                    </div>



                            {#        <ul class="produits" data-prototype="{{ form_widget(formuView.imagepers.vars.prototype)|e }}">

                                    </ul>#}

                                        {{form_rest(formuView) }}

                                    <div class="form-group clearfix pull-right col-lg-6">
                                        <a  class="btn" href="{{path('app_admin_abonnes', {'idProfil' : idProfil})}}"> <i class="icon icon-white icon-arrow-left"></i> Annuler</a>
                                        <button type="submit" class="btn btn-success" id="submit" > <i class="icon icon-white icon-ok"></i> Valider </button>
                                    </div> 
                                {#</form>#}
                                {{ form_end(formuView) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
{{parent()}}

<script type="text/javascript">

    var $collectionHolder;

// setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter une image</a>');
    var $newLinkLi = $('<li></li>').append($addTagLink);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.produits');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
            $('.add_tag_link').hide();
        });
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    });
    $(document).ready(function() {
        $('.tel').numeric();
        $('.tel').keyup(function() {
            var saisie = $(this).val();
            if (saisie.length > 0) {
                var number = parseInt(saisie);
                if ((typeof number != 'undefined') && (!isNaN(number))) {
                    var newVal = (number == 0) ? '' : number;
                    $(this).val(newVal);
                }
            }

        });
        $('#btn-rand-code').click(function() {
            getNewCodeBase();
        });
    });

    function getNewCodeBase() {
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: "{{ path('app_admin_code_base_new') }}",
            beforeSend: function() {
                $('.loadProcess').show();
            },
            success: function(rep) {
                $('.loadProcess').hide();
                if (rep['etat']) {
                    $('#codeBase').val(rep['code']);
                } else {
                    error_message('Erreur', rep['msg']);
                }
            },
            complete: function() {
                $('.loadProcess').hide();
            }

        });
    }
</script>
{% endblock %}