{% extends "layout.html.twig" %}

{% block title %}Modifier password{% endblock %}

{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block Breadcrumb %}
    <ul ncy-breadcrumb="" class="pull-right breadcrumb ng-isolate-scope">
        <li>
            <a href="#/app/dashboard" >
                <i class="fa fa-home margin-right-5 text-large text-dark"></i>Accueil
            </a>
        </li>
        <li>
            <a href="{{path('app_admin_abonnes')}}" >
                <i class="fa fa-file margin-right-5 text-large text-dark"></i>Abonné
            </a>
        </li>
        <li>
            <a href="{{path('app_admin_abonne_modifier', {'idProfil' : idProfil, 'idAbonne' : abonne.id})}}" >
                <i class="fa fa-file margin-right-5 text-large text-dark"></i>Infos
            </a>
        </li>
        <li class="ng-binding ng-scope" ><i class="fa fa-upload margin-right-5 text-large text-dark"></i>Modification de mot de passe</li>
    </ul>
{% endblock %}
{% block body %}

    <div class="container-fluid container-fullw padding-bottom-10 ng-scope">
    <section class="wrapper">

                   
        <div class="col-lg-12">
            {% for contenu in app.session.getflashbag.get('abonne.modifier.success')%}
                {% if loop.index == 0%}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        {% endif%}
                        <div class="text-center alert alert-success fade in">{{contenu}}</div>
                        {% if loop.index == 0%} 
                        </div>
                    </div>
                {% endif%}
            {% endfor%}

            {% for contenu in app.session.getflashbag.get('abonne.modifier.error')%}
                {% if loop.index == 0%}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        {% endif%}
                        <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                        {% if loop.index == 0%} 
                        </div>
                    </div>
                {% endif%}
            {% endfor%}

            {% for contenu in app.session.getflashbag.get('abonne.modifier.already.exist')%}
                {% if loop.index == 0%}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        {% endif%}
                        <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                        {% if loop.index == 0%} 
                        </div>
                    </div>
                {% endif%}
            {% endfor%}
        </div>

        <div class="clearfix"> 
            <div class="col-lg-12">
                <section class="panel panel-white">
                    <div class="panel-body">
{#                        <form action="{{path('app_admin_abonne_admin_set_password', {'idProfil' : idProfil, 'idAbonne' : idAbonne})}}" method="POST">#}
                          {{ form_start(formuView) }}
                        <div class="col-lg-12 text-danger margin-20-0px clearfix">Longueur minimal : {{minLengthPassword}} caractères</div>


                            <div class="form-group clearfix ">
                                <label class="col-lg-4 control-label"> Mot de passe </label>
                                <div class="col-lg-6 control"> 
                                    <input type="password" name="pass1"  value="{{pass1}}" id="pass1" pattern="{{pattern}}" required="true" placeholder="Mot de passe" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group clearfix ">
                                <label class="col-lg-4 control-label"> Confirmation  </label>
                                <div class="col-lg-6 control">
                                    <input type="password" name="pass2" value="{{pass2}}" id="pass2"  pattern="{{pattern}}" required="true" placeholder="Confirmation" class="form-control"/> 
                                </div>
                            </div>
                            <div class="pull-right clearfix col-lg-6">
                                <a  class="btn" href="{{path('app_admin_abonnes', {'idProfil' : idProfil})}}">  Annuler </a>
                                <button type="submit" class="btn btn-success" id="submit" >  Valider </button>
                            </div>                      
{#                        </form>#}
                         {{ form_end(formuView) }}
                    </div>
                </section> 
            </div>
        </div>
    </section>
    </div>
{% endblock %}
{% block javascriptsPerso %}
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>
{% endblock %}