{% extends "ace3iUserBundle::layoutMenu.html.twig" %}

{% block title %}Nouveau message{% endblock %}

{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block page %}
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-edit"></i> 
                    {% if  messageRepondre is not null   %}
                        REPONDRE A UN MESSAGE - {{messageRepondre.objet}}
                    {% elseif  messageTransfere is not null   %}
                        TRANFERER UN MESSAGE - {{messageTransfere.objet}}
                    {% else %}
                        ECRIRE A UN NOUVEAU MESSAGE
                    {% endif %}
                </h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="{{sessionData.homeUrl}}">Home</a></li>
                    <li><i class="fa fa-envelope"></i><a href="">Messagerie</a></li>
                    <li><i class="fa fa-edit"></i>Nouveau message</li>						  	
                </ol>
            </div>
        </div>

        {% for contenu in app.session.getflashbag.get('ajout.msg.error')%}
            {% if loop.index == 0%}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    {% endif%}
                    <div class="text-center alert alert-error fade in">{{contenu}}</div>
                    {% if loop.index == 0%} 
                    </div>
                </div>
            {% endif%}
        {% endfor%}


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-primary ">
                        <ul class="nav nav-tabs">
                            <li >
                                <a  href="{{path('app_pub_site_messagerie_boite_reception')}}">Boîte de récpetion</a>
                            </li>
                            <li class="">
                                <a href="{{path('app_pub_site_messagerie_msg_envoyes')}}">Messages envoiés</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab"  href="#home" >Nouveau message</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="home" class="tab-pane active">
                                <div class="col-lg-8">
                                    <form class="form-horizontal " role="form">
                                        {#<div class="form-group margin-top-10px">
                                            <label for="abonne" class="col-lg-2 control-label ">Abonnés</label>
                                            <div class="col-lg-10"  >
                                                <select data-placeholder="Choisir les abonnés" id="abonne" name="abonne[]" multiple class="chosen-select-abonne form-control">
                                                    {% for ab in tabAbonne %}
                                                        <option value="{{ab.id}}"    selected> {{ab.nom~' '~ab.prenoms}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>#}

                                        <div class="form-group margin-top-10px  {% if not allowChoseUser %} hide {% endif %}">
                                            <label for="admin" class="col-lg-2 control-label">Admins</label>
                                            <div class="col-lg-10">
                                                <select data-placeholder="Choisir les admins" id="admin" name="admin[]"  multiple class="chosen-select-admin form-control">
                                                    {% for ab in allAdmin %}
                                                        <option value="{{ab.id}}"   {% if inArray(ab.id, tabIdAdmin ) or (not allowChoseUser) %} selected {% endif %}> {{ab.nom~' '~ab.prenoms}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group margin-top-10px">
                                            <label  class="col-lg-2 control-label " for="objet">Objet</label>
                                            <div class="col-lg-10">
                                                <input type="text"   id="objet" name="objet"  {% if messageRepondre is not null %} value="{{messageRepondre.objet}}" {% endif %} {% if messageTransfere is not null %} value="{{messageTransfere.objet}}" {% endif %} class="form-control" placeholder="Objet du message" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label  class="col-lg-2 control-label " for="ckeditor">Message</label>
                                            <div class="col-lg-10">
                                                <textarea name="ckeditor" id="ckeditor" class="form-control ckeditor" placeholder="Votre message">{% if messageTransfere is not null %} {{messageTransfere.contenu}} {% endif %}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <a  class="btn btn-success" id="btnSendMsg">
                                                    <i class="fa fa-envelope"></i> Envoyer
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </section>     


{% endblock %}
{% block javascriptsPerso %}
    <script type="text/javascript">
        $(document).ready(function () {
            /**
             * Initialisation du select multiple
             */
            $('.chosen-select-admin').chosen({});

            /**
             * Validation du formaulaire
             */
            $('#btnSendMsg').click(function () {
                var tabIdAdmin = getTabIdDestinaire('chosen-select-admin ');
                if (tabIdAdmin.length < 1) {
                    error_message('Attention', "Vous devez renseigner un destinataire");

                } else {
                    var objet = $('#objet').val();
                    if (objet.length < 1) {
                        error_message('Attention', "Vous devez renseigner l'objet du message");
                    } else {
                        var message = CKEDITOR.instances.ckeditor.getData();
                        if (message.length < 1) {
                            error_message('Attention', "Vous devez renseigner le contenu du message");
                        } else {
                            objet = encodeURIComponent(objet);
                            message = encodeURIComponent(message);
                            sendMessage(tabIdAdmin, objet, message);
                        }
                    }
                }
            });
        });

        function getTabIdDestinaire(nomClass) {
            var tab = [];
            var i = 0;
            $("." + nomClass + " option:selected").each(function () {
                var tmp = parseInt($(this).val());
                if (tmp > 0) {
                    tab[i++] = parseInt($(this).val());
                }

            });
            return tab;
        }

        function sendMessage(tabIdAdmin, objet, message) {
            var idMessageRepondre = '{{idMessageRepondre}}';
            var idMessageTransfere = '{{idMessageTransfere}}';
            var DATA = 'idMessageTransfere=' + idMessageTransfere + '&idMessageRepondre=' + idMessageRepondre + '&message=' + message + '&idsAbonne=' +
                    '&idsAdmin=' + prepareAjaxData(tabIdAdmin) + '&objet=' + objet;
          
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: "{{ path('app_pub_site_messagerie_send_msg_to_utilisateur_save') }}",
                data: DATA,
                beforeSend: function () {
                    onLoadGobi();
                },
                success: function (rep) {
                    closeOnLoadGobi();
                    if (rep['etat']) {
                        window.location.href = '{{path('app_pub_site_messagerie_boite_reception')}}';
                    } else {
                        error_message('Erreur', rep['msg']);
                    }
                },
                complete: function () {
                    closeOnLoadGobi();
                }

            });
        }





    </script>
{% endblock %}