{% extends "layout.html.twig" %}

{% block title %}{{parent()}} - Modifier classe{% endblock %}
{% block file_arriane %}
     <div class="fond-fil-ariane-classe" >
                    <div class="zone-fil-ariane" style="background:rgba(0,0,0,0.4); width: 100%; height : 0px;padding-top: 0px;color: #fff;">
                        <div class="row" style="background:rgba(0,0,0,0.3)">
                            <div class="col-xs-7" >
                               <h1> Modifier une classe</h1>
                            </div>
                            <div class="col-xs-5" style="margin-top: 15px; ">
                               <span class="fil-1"> Accueil</span> > <span class="fil-2">Gestion des classes</span> ><span class="fil-3"> Modifier </span>
                            </div>
                        </div>
                    </div>
		</div>           
{% endblock  %}
{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block body %}

    {% for contenu in app.session.getflashbag.get('eleve.modifier.success')%}
        {% if loop.index == 0%}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
        <div class="text-center alert alert-success  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>

        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('eleve.modifier.error')%}
        {% if loop.index == 0%}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
        <div class="text-center alert alert-danger  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>

        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('eleve.modifier.already.exist')%}
        {% if loop.index == 0%}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
        <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
    </div>

        {% endif%}
    {% endfor%}

<div class="panel panel-white" style="padding: auto">

    <div class="panel-body">
        
            
        {% for eleve in listeEleveClasse %}     
            <div class="col-lg-6">
        <div class="recto-carte" style ="width: 544px;height: 307px;" >
            <table class="">

                        <tr>
                            <td style="padding-left: 20px; font-size: 18px;color :#FFF;font-weight: bold;">
                                Carte d'Identité Scolaire 2016-2017
                            </td>
                            <td > 
                                
                            </td>
                        </tr>
                        <tr >
                            <td style="padding-left: 20px; font-size: 17px;color :#FFF;padding-top: 10px;">
                               <span style="margin-top: -22px;display: block;"> Complexe Scolaire LE ROGER DE DIEU  </span>
                            </td>
                            <td style="padding-left: 40px; font-size: 17px;color :#FFF;padding-top: -10px;">
                                Classe . {% if classe is defined %}  
                                            {{classe.getLibelleClasse()}}
                                         {% else %}
                                             -
                                         {% endif %}
                            </td>
                        </tr>
             </table>            
           <table class="" style="margin-top: 10px;">

                        <tr >
                           
                             
                            <td rowspan='9' style="width: 150px;padding-left: 20px; text-align: center;"> 
                             <div style="width: 110px; background: #FFF; height: 150px;margin-top: 2px;">   
                              <img src="{{asset('upload/chargement/eleves/'~eleve.id~'/'~eleve.titreImage)}}" style="width: 110px;  height: 150px;" alt=""/>
                              <h5> signature</h5>
                             </div>
                                
                             </td>

                        </tr>
                        <tr>
                            <td style="width: 125px;">
                               Matricule : 
                            </td>
                             
                            <td > 
                            <h4> 
                              000001
                             <h4> 
                             </td>

                        </tr>
                        <tr>
                            <td>
                               Nom : 
                            </td>
                             
                            <td > 
                                <h4> 
                             {{eleve.nom}}
                                    </h4> 
                             </td>

                        </tr>
                        <tr>
                            <td>
                                Prénoms :
                            </td>
                             
                            <td > 
                                <h4> 
                              {{eleve.prenoms}}  
                                    </h4> 
                             </td>

                        </tr>
                         <tr>
                            <td>
                               Nationalité: 
                            </td>
                             
                            <td > 
                                 <h4>
                             {{eleve.nationalite}}
                                      </h4>
                             </td>

                        </tr>
                        <tr>
                            <td>
                              sexe :  
                            </td>
                             
                            <td > 
                                <h4> 
                             {{convertTypeSexe(eleve.sexe)}}
                                    </h4> 
                             </td>

                        </tr>
                        <tr>
                            <td>
                                Date naissance :
                            </td>
                             
                            <td > 
                                 <h4>
                             {{eleve.dateNaissance|date('d/m/Y')}}
                                      </h4>
                             </td>

                        </tr>
                       
                       
                        <tr>
                            <td>
                               Adresse :  
                            </td>
                             
                            <td > 
                              <h4>{{eleve.bp}} {{eleve.adresse}}  </h4>
                             </td>

                        </tr>
                        {# <tr>
                            <td>
                               Validité: 
                            </td>
                             
                            <td > 
                                 <h4>
                             Année scolaire 2016 - 2017
                                      </h4>
                             </td>

                        </tr>#}
                   
                    
             </table>
               <div style="padding-top: 3px;padding-left: 140px;height: 40px;">
                           
                                <h5>
                               En cas d'urgence 
                    {% set inc = 1%}
                    {% for infoparent in eleve.getEstparents %}
                           {% if inc == 3 %}   
                             {{infoparent.getUtilisateur.nom~' '~infoparent.getUtilisateur.prenoms~', '~infoparent.getUtilisateur.tel1}} 
                           {% endif %}
                    {% set inc = inc+1%}
                    {% endfor %}
                               </h5>
                        </div>
              <div style="padding-top: 20px;color:#FFF;padding-left: 30px;">
                  
                                <h5><i>
                                 Cette Carte est stritement personnelle
                               </i>
                               </h5>
                            
                             
                            

                        </div>
        </div>
        </div>
        {% endfor %}    
   
    <br/>
    <br/>
        
   <div class="col-lg-12" style ="margin-left:  125px;" >
        <div class="verso-carte" style ="width: 544px;height: 307px;" >
            
           <table class="" >

                       
                        
                        <tr>
                            <td colspan='2' style="padding-top: 80px;padding-left: 190px;color:#fff; text-align: center; font-size: 18px;">
                             <p> 
                                 Complexe Scolaire LE ROCHER DE DIEU
                             </p> 
                             <p> 
                                 BP : 31239 Lomé Agoè-Vakpossito
                             </p> 
                             <p> 
                                 Tel. 22 35 98 93
                             </p> 
                            </td>
                             
                        

                        </tr>
                      
                       
                       
                        <tr>
                            <td style="padding-top: 20px;padding-left: 30px;color:#000;">
                               Lomé le,---------------- 
                              <h5> Signature </h5>
                              <div style='width: 50%;height: 60px;'>
                                  
                              </div>
                              Non du Directeur
                            </td>
                             
                            <td > 
                              
                             </td>

                        </tr>
                        {# <tr>
                            <td>
                               Validité: 
                            </td>
                             
                            <td > 
                                 <h4>
                             Année scolaire 2016 - 2017
                                      </h4>
                             </td>

                        </tr>#}
                   
                    
             </table>
              
        </div>
    </div>     
</div>
</div>
{% endblock %}
{% block scripts %}
{{parent()}}
{% endblock %}