{% extends "layout.html.twig" %}

{% block title %}{{parent()}} - Ajout une note{% endblock %}
{% block file_arriane %}
    {% if  isEleve(sessionData.codeProfil)  %}
     <div class="fond-fil-ariane-eleve-info" >
    {% elseif  isParentEleve(sessionData.codeProfil)  %}
      <div class="fond-fil-ariane-peleve-info" >  
    {% elseif  isEnseignant(sessionData.codeProfil)  %}
      <div class="fond-fil-ariane-ens-classe" >  
    {% else  %}
          <div class="fond-fil-ariane-classe" >    
     
    {% endif  %}
    <div class="zone-fil-ariane" style="background:rgba(0,0,0,0.4); width: 100%; height : 0px;padding-top: 0px;color: #fff;">
        <div class="row" style="background:rgba(0,0,0,0.3)">
            <div class="col-xs-7" >
                <h1> Ajouter une note</h1>
            </div>
            <div class="col-xs-5" style="margin-top: 15px; ">
                <span class="fil-1"> Accueil</span> > <span class="fil-2">Gestion des notes </span> ><span class="fil-3"> Ajout </span>
                </div>
            </div>
        </div>
    </div>           
{% endblock  %}
{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block body %}

    {% for contenu in app.session.getflashbag.get('eleve.ajout.success')%}
        {% if loop.index == 0%}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
        <div class="text-center alert alert-success  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
</div>

        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('eleve.ajout.error')%}
        {% if loop.index == 0%}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                {% endif%}
    <div class="text-center alert alert-danger  fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
</div>

        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('eleve.ajout.already.exist')%}
        {% if loop.index == 0%}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
    <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
</div>

        {% endif%}
    {% endfor%}

<div class="row" style="margin-bottom:10px;margin-top: -5px; ">
    <div class="col-lg-9">
    </div>    
    <div class="btn-toolbar col-lg-3">
        
        <div aria-label="First group" role="group" class="btn-group" style="height: 40px;">
             <a class="circle-social btn  btn-default " href="{{path('app_admin_classe_infos', { 'idClasse' : idClasse})}}" >                           
                                           < Retour                           
                                        </a>
        </div>
        
    </div>
</div> 
{# chargement basique de fichier #}
<div class="panel panel-white">

    <div class="panel-body">
        <form action="{{path('app_admin_classe_ajout_note_eleve', {'idClasse' : idClasse})}}" method="POST"  {#{{form_enctype(formuView)}}#}>

        <div class="col-lg-3" >
            <select  name="id-enseignant"  class="form-control id-enseignant" >
                {% if  isMaintenance(sessionData.codeProfil)  %}
                <option value="">Choisir l'enseignant </option> 
                  {% for enseigne in enseignants  %}
                <option  value="{{enseigne.id}}" >{{enseigne.nom~" "~enseigne.prenoms}}  </option>  
                                   {% endfor%}
                {% else%}
                 <option  value="{{enseignants.id}}" >{{enseignants.nom~" "~enseignants.prenoms}}  </option>
                {% endif%}
                                 
            </select>
        </div>

        <div class="col-lg-3" >
            <select  name="id-matiere"  class="form-control id-matiere" {% if  isMaintenance(sessionData.codeProfil)  %} style='display: none'{% endif %} >
                <option value="">Choisir votre matiere  </option>  
                {% for uneMatiere in listeMatiere  %}
                 <option  value="{{uneMatiere.id}}" >{{uneMatiere.libelleMatiere}}  </option>  
                {% endfor%}
                
                
            </select>
        </div>
        <div class="col-lg-3" >
            <select  name="id-typeexamen"  class="form-control id-typeexamen" style='display: none'>
                <option value="">Choisir le type examen  </option>  
                                   {% for typeexamen in typeexamens  %}
                <option  value="{{typeexamen.id}}" >{{typeexamen.libelleTypeExamen}}  </option>  
                                   {% endfor%}
            </select>
        </div>
        <div class="col-lg-3" >

        </div>
        <div class="col-lg-12" >
            
                <table class="table table-striped table-hover zone-note" style='display: none;'>
                    <thead >
                        <tr class=" ">
                            <th>Noms et Prenoms </th>
                            <th style="text-align: center;">
                                Note
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                                {% for u in listeEleveClasse %}
                        <tr>

                            <td> {{u.nom}} {{' '~u.prenoms}}</td>                                     
                            <td>
                                <input type='text' name='{{'note'~u.id}}' class='formaMontant'>

                            </td>


                        </tr>
                                {% endfor %}

                    </tbody>
                    <tfoot>


                        <tr>

                            <td colspan="2"> 
                                <div class="form-group clearfix pull-right col-lg-3 zone-bouton-panel">
                                    <a  class="btn" href="{{path('app_admin_classes')}}"> <i class="icon icon-white icon-arrow-left"></i> Annuler</a>
                                    <button type="submit" class="btn btn-success" id="submit" > <i class="icon icon-white icon-ok"></i> Valider </button>
                                </div> 
                            </td>                                     



                        </tr>


                    </tfoot>
                </table>

        </div>
            </form>


    </div>
</div>



{% endblock %}
{% block scripts %}
{{parent()}}

<script type="text/javascript">



    $('.id-matiere').change(function() {
        $('.id-typeexamen').show();
        // $(this).attr()
    });
    $('.id-typeexamen').change(function() {
        $('.zone-note').show();
        // $(this).attr()
    });
    $('.id-enseignant').change(function() {
        var id = $(this).val();
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: "{{ path('app_admin_get_matiere_enseignant') }}",
            data: 'idens=' + id,
            beforeSend: function() {
            },
            success: function(data) {
                $('.id-matiere').show();
                $('.id-matiere').html("");
                if (data.donnee.length > 0) {
                    // valeur= parseInt(valeur)+1;
                    $('.id-matiere').append("<option value=''> Choisissez votre matière </option> ");
                    for (var pas = 0; pas < data.donnee.length; pas++) {
                        $('.id-matiere').append("<option value=" + data.donnee[pas].id + ">" + data.donnee[pas].libelleMatiere + "</option> ");
                    }
                }
                $('.btValider').show();
            },
            complete: function() {
            }
        });

    })



</script>
{% endblock %}