  
	<form action=" {{ path( "admin_modiftypeOperation", {'id': id,'locale':'fr'} ) }} " method="post" {{ form_enctype(form) }} id="ajoutLangueTypeOperation" >
		<div class="FrmAbonne champsGrp">
			{{ form_widget(form) }}
		<div class="clr"></div>
            </div> 
                        <span class="btnimage "><img src="{{asset('img/client-img/formulaire/valid.png')}}" alt="Modifier" /><input type="submit" class="boutonSubmit" value="{{ 'client.modifier'|trans({}, 'messages') }}" name="op" id="j_bouton" ></span>       
                        
	</form>



