{% extends "layout.html.twig" %}

{% block title %}{{parent()}} - Modification d'une article{% endblock %}
{% block file_arriane %}

    {% if  isEleve(sessionData.codeProfil)  %}
     <div class="fond-fil-ariane-eleve-accueil" >
    {% elseif  isParentEleve(sessionData.codeProfil)  %}
      <div class="fond-fil-ariane-peleve-accueil" >  
    {% elseif  isEnseignant(sessionData.codeProfil)  %}
      <div class="fond-fil-ariane-ens-accueil" >  
    {% else  %}
          <div class="fond-fil-ariane-admin-accueil" >         
    {% endif  %}
                    <div class="zone-fil-ariane" style="background:rgba(0,0,0,0.4); width: 100%; height : 0px;padding-top: 0px;color: #fff;">
                        <div class="row" style="background:rgba(0,0,0,0.3)">
                            <div class="col-xs-7" >
                               <h1> Modifier d'un article </h1>
                            </div>
                            <div class="col-xs-5" style="margin-top: 15px; ">
                               <span class="fil-1"> Accueil</span> > <span class="fil-2">Gestion des articles</span> ><span class="fil-3"> Modif </span>
                            </div>
                        </div>
                    </div>
		</div>           
{% endblock  %}

{% block stylesheets %}
    {{parent()}} {#<link rel="stylesheet" type="text/css" href="{{ asset('css/page/login.css') }}" />#}
{% endblock %}
{% block body %}


    {% for contenu in app.session.getflashbag.get('article.ajout.success')%}
        {% if loop.index == 0%}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
                <div class="text-center alert alert-success fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
                </div>
            </div>
        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('article.ajout.error')%}
        {% if loop.index == 0%}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
                <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
                </div>
            </div>
        {% endif%}
    {% endfor%}

    {% for contenu in app.session.getflashbag.get('article.ajout.already.exist')%}
        {% if loop.index == 0%}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                {% endif%}
                <div class="text-center alert alert-danger fade in">{{contenu}}</div>
                {% if loop.index == 0%} 
                </div>
            </div>
        {% endif%}
    {% endfor%}


        {# chargement basique de fichier#}
            <div class="panel panel-white">
        
                <div class="panel-body">
                   <div class="col-lg-12" >
  {{ form_start(form) }}     
{#                                    <div class="col-lg-6">#}
                                            <section class="panel">
                                                <div class="panel-body">
                                                    <div class="form-group clearfix">
                                                        {{form_rest(form) }}
                                                        <a  class="btn" href="{{path('app_admin_articles_list')}}"> 
                                                            <i class="icon icon-white icon-arrow-left"></i> Annuler
                                                        </a>
                                                        <button type="submit" class="btn btn-success" id="submit" > <i class="icon icon-white icon-ok"></i> Valider </button>
                                                    </div> 
                                                </div>
                                            </section>
{#                                        </div>#}
{#                                    </form>#}
                                    {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
            



   
{% endblock %}
{% block scripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.numeric').numeric();
            $('.numeric').keyup(function () {
                var saisie = $(this).val();
                if (saisie.length > 0) {
                    var number = parseInt(saisie);
                    if ((typeof number != 'undefined') && (!isNaN(number))) {
                        var newVal = (number == 0) ? '' : number;
                        $(this).val(newVal);
                    }
                }

            });
        });
    </script>
{% endblock %}